.bg-whisparr {
  background-color: var(--stasharr-color-purple);
}

div.scene-details-badge-container {
  text-align: left;
  margin-top: 0.5rem;
}

.scene-details-badge-container > .badge {
  margin-right: 3px;
}
